.container {
  background: linear-gradient(278.32deg, #F9596D 30.52%, #FF7A30 57.98%);
  border-radius: 8px;
  padding: 4px;
  // border: 2px solid #F9596D;
  .content {
    text-align: center;
    background: linear-gradient(180deg, rgba(255, 247, 214, 0.71) 0%, #FFAD9A 65.26%);
    box-shadow: inset 0px 4px 8px rgba(255, 255, 255, 0.5);
    border-radius: 6px;
      padding: 12px 24px;
  }
}