group-manager
.idea
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/client/node_modules
/client/npm-debug.log*
/client/yarn-error.log
/client/yarn.lock
/client/package-lock.json

# production
/client/dist

# misc
.DS_Store

# umi
/client/src/.umi
/client/src/.umi-production
/client/src/.umi-test
/client/.env.local
/.env
/vendor

/client.json
/client_replay.json
/client.cnb.json
/client.mob.json
/client.btc.json
/client.eos.json
/client.eth.json
/client.zen.json
/client.sim.json

