group-manager
.idea
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/client/node_modules
/client/npm-debug.log*
/client/yarn-error.log
/client/yarn.lock
/client/package-lock.json

# production
/client/dist

# misc
.DS_Store

# umi
/client/src/.umi
/client/src/.umi-production
/client/src/.umi-test
/client/.env.local
/.env
/config.json
/config.dev.json
/config.prod.json
/vendor

/json

/client.json
/client_replay.json
/client.cnb.json
/client.mob.json
/client.btc.json
/client.eos.json
/client.eth.json
/client.zen.json
/client.sim.json
/client.rum.json
/client.btm.json
/client.test.json
/client.topdao.json
/client.mixin_en.json

/block.sql
/users.sql

