.bg {
  background: url(~@/assets/img/lottery-bg.png);
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
  overflow: hidden;
}

.container {
  overflow-y: scroll;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
}

.headerIcon {
  font-size: 22px;
  padding: 5px;
}

.broadcast {
  background: linear-gradient(278.32deg, #f9596d 30.52%, #ff7a30 57.98%);
  border-radius: 8px;
  padding: 4px;
  margin: 0px 14px;

  .content {
    background: linear-gradient(180deg, rgba(255, 247, 214, 0.71) 0%, #ffad9a 65.26%);
    box-shadow: inset 0px 4px 8px rgba(255, 255, 255, 0.5);
    border-radius: 6px;
    padding: 8px 12px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;

    .item {
      color: #7e0606;
    }
  }
}

.voucher {
  padding: 35px 20px 24px 20px;
  position: relative;
  &Header {
    h3 {
      font-size: 18px;
      text-align: left;
      line-height: 25px;

      color: #222222;
    }

    i {
      color: #e5e7eb;
      position: absolute;
      top: 28px;
      right: 10px;
      font-size: 26px;
    }
  }

  input {
    background: #f8f8f8;
    border-radius: 12px;
    color: #222222;
    padding: 18px 20px;
    width: 100%;
    margin: 30px 0 28px 0;
  }
}
