.mainBox {
  overflow: auto;

  .container {
    width: 100%;
    height: 100%;
    padding: 20px;
  }

  .avatar {
    width: 32px;
    height: 32px;
    font-size: 24px;
  }

  img.avatar {
    padding: 0;
    border-radius: 50%;
  }
}

.statistic {
  margin: 20px 20px 0 20px;
  height: 126px;
  background: linear-gradient(180deg, #EFF3FA 0%, #FFFFFF 100%);
  box-shadow: 0 2px 30px rgba(0, 37, 107, 0.08);
  border-radius: 16px;
  position: relative;

  .bg {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
  }

  .content {
    position: relative;
    z-index: 1;
    height: 100%;
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &_item {
      display: flex;
      flex-direction: column;
    }

    .right {
      text-align: right;
    }

    .title {
      font-size: 14px;
      opacity: 0.7;
    }

    .price {
      font-size: 32px;
      font-weight: 600;

      &Zero {
        font-size: 24px;
        padding: 4px 0;
      }
    }

    .rate {
      font-size: 14px;
      font-weight: 500;
    }

    .green {
      color: #00C6A1;
    }

    .red {
      color: #fa596d;
    }

    .people {
      margin-top: 4px;
      font-size: 26px;
      font-weight: 500;
    }

    .info {
      margin-top: 4px;
      font-size: 14px;
      opacity: 0.4;
    }
  }
}


.index {
  padding: 20px;
  overflow: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 15px;
  row-gap: 17px;
  align-content: flex-start;

  li {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 182px;
    max-height: 182px;
    justify-content: center;
    box-shadow: 0 2px 30px rgba(0, 37, 107, 0.08);
    border-radius: 16px;

    p {
      margin-top: 8px;
      font-weight: 500;
    }
  }

  img {
    display: block;
    padding-top: 16px;
    max-width: 70%;
    max-height: 150px;
  }
}

.nav {
  &List {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    margin-top: 30px;
    padding: 0 10px;
    text-align: center;
    row-gap: 20px;
  }

  &Item {
    &Inner {
      width: 68px;
      height: 68px;
      border-radius: 12px;
      box-shadow: 0px 2px 20px rgba(0, 37, 107, 0.12);
      line-height: 68px;
      margin: 0 auto;

      img {
        width: 30px;
        height: 30px;
      }
    }

    p {
      margin-top: 10px;
      font-size: 14px;
    }
  }
}