.container {
  overflow: auto;
}

.item {
  padding: 10px 20px;
  margin: 10px 20px;
  background: #F8F8F8;
  border-radius: 12px;
}

.coin {
  display: grid;
  grid-template-columns: 48px 1fr;
  align-items: center;


  img {
    width: 36px;
    height: 36px;
    border: 2px solid #fff;
    border-radius: 50%;
    grid-row: span 2;
  }

  span {
    color: #BCBEC3;
    font-size: 12px;
  }
}

.user {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .icon {
    font-size: 24px;
    color: #bdbdbd;
  }

  .noUser {
    color: #bdbdbd;
  }
}

.amount {
  input {
    background-color: transparent;
    width: 100%;
    height: 32px;
  }

  p {
    font-size: 12px;
    color: #bdbdbd;
    // transform: translateY(-4px);
  }
}

.button {
  background-color: #FA596D;
  border: 0;
  position: fixed;
  bottom: 96px;
  left: 50%;
  transform: translate(-50%, 0);
}