.container {
  display: grid;
  height: 100vh;
  grid-template-rows: 48px 166px 32px 1fr;
  overflow: hidden;

  ul {
    overflow: auto;
  }
}

.noOtc {
  grid-template-rows: 48px 166px 1fr;

  .category {
    display: none;
  }
}

.price {
  margin: 20px;
  padding: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  height: 126px;
  border-radius: 12px;
  background-image: url(~@/assets/img/transfer_bg.png);

  .title,
  .amount {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
  }

  .title {
    opacity: 0.8;
    font-size: 14px;
  }

  .amount {
    margin-top: 10px;

    span {
      &:nth-child(1) {
        font-size: 32px;
      }

      &:nth-child(2) {
        font-size: 26px;
      }

      &.noPrice {
        font-size: 28px;
      }
    }
  }
}

.swapCard {
  margin: 10px 20px;
  padding: 16px;
  background-color: #f8f8f8;
  border-radius: 12px;

  p {
    font-size: 15px;
  }
}

.adCard {
  &Head {
    position: relative;
    display: grid;
    grid-template-columns: 50px auto;
    grid-template-rows: auto auto;
    align-items: center;

    img {
      grid-row: span 2;
      width: 44px;
      height: 44px;
      border-radius: 50%;
    }

    h3 {
      line-height: 1;
      margin: 6px 0 4px 0;
      font-size: 16px;
      max-width: calc(100% - 90px);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &Msg {
      color: #3282f4;
      display: flex;
      align-items: center;

      i {
        font-size: 14px;
        margin-right: 3px;
      }

      span {
        font-size: 12px;
        margin-right: 8px;
      }
    }

    & &Price {
      position: absolute;
      right: 0;
      font-size: 18px;
      font-weight: 600;
      color: #8778e3;
    }
  }
}

.transferCard {
  margin: 10px 20px;
  padding: 16px;
  background-color: #f8f8f8;
  border-radius: 12px;

  &:last-child {
    margin-bottom: 30px;
  }
}

.category {
  margin: 0 20px;
  line-height: 28px;
  height: 32px;
  background-color: #d8d8d8;
  border: 2px solid #d8d8d8;
  display: flex;
  text-align: center;
  border-radius: 8px;

  span {
    flex: 1;
    font-size: 13px;
    font-weight: 600;

    &.active {
      background-color: #fff;
      border-radius: 6px;
    }
  }
}

.coin {
  position: relative;
  display: grid;
  grid-template-rows: 18px 18px;
  grid-template-columns: 40px 1fr;
  row-gap: 5px;
  column-gap: 10px;
  align-items: center;

  &Icon {
    width: 40px;
    height: 40px;
    grid-row-start: 1;
    grid-row-end: 3;
    transform: translateY(-2px);
  }

  &Title {
    margin: 0;
    font-size: 16px;
  }

  &Method,
  &Price {
    position: absolute;
    right: 0;
    line-height: 1;
  }

  &Price {
    top: 1px;
  }

  &Method {
    bottom: 2px;
  }
}

.payMethods {
  display: flex;
  align-items: center;

  i {
    transform: translateY(1px);
  }

  span {
    font-size: 12px;
    margin: 0 5px;
  }

  .bank {
    color: #8778e3;
  }

  .alipay {
    color: #288dd6;
  }

  .wechatpay {
    color: #5db057;
  }
}

.coinInfo {
  margin-top: 16px;
}

.green {
  color: #84ffd3;
}

.red {
  color: #ff7488;
}

.grep {
  color: #bcbec3;
  font-size: 13px;
}

.m-t-10 {
  margin-top: 10px;
}

.m-t-4 {
  margin-top: 4px;
}
