.container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
}

.addIcon {
  display: inline-block;
  font-size: 20px;
  transform: translateY(1px);
}

.list {
  height: calc(100% - 48px);
  overflow: auto;
}

.item {
  grid-template-columns: 44px 1fr;
  margin-bottom: 16px;

  .name {
    font-weight: 500;
  }

  .status {
    font-size: 14px;
    color: #bdbdbd;
  }
}

.modalContainer {
  grid-template-rows: 60px 1fr 100px;
}

.modalItem {
  margin-left: 36px !important;

  .select {
    position: absolute;
    left: -32px;
    top: 50%;
    transform: translateY(-50%);
    color: #bdbdbd;

    &.disable {
      background-color: #bdbdbd;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      overflow: hidden;
    }

    &.active {
      color: #222222;
    }
  }
}

.saveBtn {
  margin: 10px auto 30px auto;
}
