
.container {
  overflow: auto;
}

.list {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  gap: 10px;

}


.item {
  padding: 16px 0;
  box-shadow: 0 2px 30px rgba(0, 37, 107, 0.08);
  border-radius: 12px;
  line-height: 1;

  p {
    font-size: 14px;
    color: #BDBDBD;
    margin-bottom: 16px;
  }

  h3 {
    font-family: "DIN Condensed";
    font-size: 30px;
    margin: 0;
  }
}

.charts {
  height: 300px;
  margin: 20px;
  box-shadow: 0 2px 30px rgba(0, 37, 107, 0.08);
  border-radius: 12px;
  position: relative;
}

.select {
  position: absolute;
  z-index: 2;
  top: 18px;
  right: 16px;
  font-size: 14px;
  color: #BDBDBD;

  i {
    font-size: 20px;
    color: #B1B4CF;
    margin-left: 6px;
    font-weight: 600;
    display: inline-block;
    transform: translateY(2px);
  }

  &Modal {
    position: absolute;
    top: 30px;
    right: 0;
    background-color: #fff;
    padding: 5px 20px;
    box-shadow: 0 2px 30px rgba(0, 37, 107, 0.08);
    border-radius: 12px;
    text-align: center;

    &Item {
      display: block;
      line-height: 24px;
      white-space: nowrap;
    }
  }
}

